# 확장자가 없는 실행 파일 
led_mmap
button_mmap
keyboard_mmap
major_num_example
homework
led_button_example
# 일반적인 컴파일 결과물
*.out
*.o
*.ko
*.mod.c
*.mod
*.symvers
*.order
*.cmd
*.txt

# Huge source trees
buildroot/
kernel/
linux/

# Temp files
.DS_Store